/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*{
  scroll-behavior: smooth;
  list-style: none !important;
  text-decoration: none !important;
  outline: none;
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 100%);
  --black-color-light: hsl(219, 9%, 69%);
  --black-color-lighten: hsl(0, 0%, 100%);
  --white-color: #000000;
  --body-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 50;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}


/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  width: auto;
  max-width: auto;
  display: flex;
  justify-content: center;
}


/*=============== HEADER ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

.logo{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  border-bottom: #e9e9e9 1px solid;
  gap: 100px;
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  padding: 8px 0;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  /* font-weight: initial; */
  font-size: 1.25rem;
}

.nav__logo img{
  /* height: var(--header-height); */
  height: 40px;
}


.nav-button a{
  cursor: pointer;
  color: #ffffff;
  /* border: #000 1px solid; */
  padding: 9px 20px;
  border-radius: 100px;
  font-size: 15px;
  background-color: #006837;
  transition: 0.15s ease-in-out;
}

.nav-button a:hover{
  color: #ffffff;
  background-color: #01502b;
}


input{
  width: 20vw;
  border:#d1cece solid 1px;
  padding: 6px 15px;
  font-size: 13px;
}

/*=============== NAV ===============*/

nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #242526;
}

nav .wrapper{
  position: flex;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .nav-links{
  display: flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 40px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}


/*=============== MAIN HERO ===============*/

.hero {
  background-size: 100vw;
  background-size: cover;
  height: 65vh;
  align-items: center;
  justify-content: center;
  background-attachment: fixed; 
  background-image:url(./Tamplate/SemImagem.png);
}

.hero .video{
  position: relative;
  height: 65vh;
  width: 100%;
  object-fit: cover; /* Scales the video to cover the container, cropping excess */
  object-position: center center; /* (Optional) Adjusts the focal point of the crop */
  z-index: -1;
  background-color: white;
}


/*=============== OWL CAROUSSEL 1 ===============*/

.title-container{
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding: 30px 0;
}

#title{
  font-size: 30px;
  font-weight: 500;
}

.name-testimonial{
  
}

.owl-container{
    text-align: start;
    padding: 50px 15vw;
    background-color: #ffffff;
}

#owl-about{
  padding: 0;
}

#owl-about .item{
    background-color: transparent;
    padding: 0px 0 10px;
    margin: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.item-text-container{
  height: 500px;
  color: #000;
}

.item-text-container #info{
  font-size: 18px !important;
  padding: 10px 0;
}

.item-text-container .button{
  font-size: 15px;
  background-color: #006837;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.item-text-container .button:hover{
  color: #ffffff;
  background-color: #01502b;
}

.item-text-container img{
    width: 100%;
    height: 65%;
    border-radius: 0px;
    margin: 0px 0 5px;
    object-fit: cover; /* Scales the video to cover the container, cropping excess */
    object-position: center center;
}

.item-text-container a{
  outline: none;
  color: #FFF;
  width: 100%;
  cursor: pointer;
}

#owl-about .item h1{
   margin: 10px 20px 0px;
   font-size: 20px;
   font-weight: 300;
   height: auto;
}

#owl-about .item h2{
    font-size: 25px;
    font-weight: 400;
    height: auto;
    margin: 5px 20px;
}

 #owl-about .item h3{
    font-size: 16px;
    font-weight: 300;
    color: #e9b21a;
    margin: 0;
}

@media (max-width:1300px){
    #owl-about .item h1{
        font-size: 18px;
        font-weight: 400;
     }
}

#about-button{
    color: #000;
    font-weight: 400;
}

#about-button:hover{
    color: #000;
}

.about-button-container{
    color: #000;
    background-color: #e7e7e7;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40vw;
    padding-right: 40vw;
    transition: .40s ease-in-out;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 3.5vw;
}

.about-button-container:hover{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 60px;
    color: #000;
    text-decoration: none;
}

@media (max-width: 1290px) { 
    
    .about-button-container{
        padding-left: 30vw;
        padding-right: 30vw;
        margin-right: 20vw;
    }
    
}


/*=============== GLOSSARY ===============*/

.glossary{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background-color: #FFF;
}

.column1{
  width: 35vw;
  object-fit: cover; /* Scales the video to cover the container, cropping excess */
  object-position: center center;
  height: 00px;
  background-image: url(./Tamplate/SemImagem\(Vertical\).png);
}

.column2{
  width: 35vw;
  object-fit: cover; /* Scales the video to cover the container, cropping excess */
  object-position: center center;
  height: 100%;
}

.row1{
  /* margin-bottom: 15px; */
  margin-left: 0.75vw;
  width: 34.25vw;
  height: 292px;
  object-fit: cover; /* Scales the video to cover the container, cropping excess */
  object-position: center center;
  background-image: url(./Tamplate/SemImagem\(Vertical\).png);
}

.row2{
  margin-top: 15px;
  margin-left: 0.75vw;
  width: 34.25vw;
  height: 292px;
  object-fit: cover; /* Scales the video to cover the container, cropping excess */
  object-position: center center;
  background-image: url(./Tamplate/SemImagem\(Vertical\).png);
}


/*=============== OWL CAROUSSEL 2 ===============*/

#owl-about2 .item{
    background-color: transparent;
    padding: 0px 0 10px;
    margin: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#owl-about2 .item h1{
   margin: 10px 20px 0px;
   font-size: 20px;
   font-weight: 300;
   height: auto;
}

#owl-about2 .item h2{
    font-size: 25px;
    font-weight: 400;
    height: auto;
    margin: 5px 20px;
}

 #owl-about2 .item h3{
    font-size: 16px;
    font-weight: 300;
    color: #e9b21a;
    margin: 0;
}


/*=============== GLOSSARY 2 ===============*/

.full-row{
  width: 1300px;
  object-fit:cover; /* Scales the video to cover the container, cropping excess */
  object-position: center;
  height: 600px;
  background-image: url(./Tamplate/SemImagem.png);
}


/*=============== OWL CAROUSSEL 3 ===============*/

#owl-about3 .item{
    background-color: transparent;
    padding: 0px 0 10px;
    margin: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#owl-about3 .item h1{
   margin: 10px 20px 0px;
   font-size: 20px;
   font-weight: 300;
   height: auto;
}

#owl-about3 .item h2{
    font-size: 25px;
    font-weight: 400;
    height: auto;
    margin: 5px 20px;
}

 #owl-about3 .item h3{
    font-size: 16px;
    font-weight: 300;
    color: #e9b21a;
    margin: 0;
}


/*=============== OWL CAROUSSEL 3 ===============*/

footer{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 50px 15vw;
  width: 100%;
  background-color: #FFF;
}

footer h1{
  text-align: center;
  font-size: 20px;
}